h1 {
 color: red;
 text-align: center;
 font-size: 85px;
}

/* .nav  {
    display: flex;
    justify-content: center;
    transition: all 0.3s ease 0;
    padding: 30px 0px;
    padding-right: 70px;
    
} */

.navbar {
    display: inline-block;
    list-style: none;
    /* justify-content: center; */
    align-items: center;
}



nav a:hover {
    color: red;
}


 a {
    color: black;
    text-decoration: none;
    padding: 12px;
}

body {
    background-color: #ededed;
}